<br>
<h1>Acesse sua conta</h1>
<br>
<fieldset>
    <form action="/cadastro" method="post">
        <div class="form-group">
            <label for="email" class="col-sm col-form-label">Endereço de E-mail</label>
            <div class="col-sm-5">
                <input type="email" class="form-control {{isInvalid errors 'email'}}" id="email" name="email"
                    value="{{reuseValues reusableValues 'email'}}">
                <div class="invalid-feedback">{{showError errors 'email'}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="senha" class="col-sm col-form-label">Escolha uma senha de acesso</label>
            <div class="col-sm-5">
                <input type="password" class="form-control {{isInvalid errors 'senha'}}" id="senha" name="senha"
                    value="{{reuseValues reusableValues 'senha'}}">
                <div class="invalid-feedback">{{showError errors 'senha'}}</div>
            </div>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="true" name="agree">
                <p>Mantenha-me conectado</p>
                <p class="text-danger">{{showError errors 'agree'}}</p>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a>
        <p class="text-info">Esqueceu a senha?</p>
    </a>
</fieldset>